@import "../../variables.scss";

ul {
  list-style-type: none;
  list-style-position: inside;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $primary-color;
    -webkit-box-shadow: inset 0 0 6px $primary-color;
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px $primary-color;
    -webkit-box-shadow: inset 0 0 6px $primary-color;
    background-color: $primary-color;
  }

  span {
    margin-right: $base-spacing * 2;
    color: $primary-color;
  }

  li {
    margin: $base-spacing 0;
    color: $secondary-text;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}
