@import "../../variables.scss";

.crudForm {
  min-height: calc(100vh - 75px);
  width: 100%;
  background-image: linear-gradient(
      rgba(202, 199, 199, 0.3),
      rgba(202, 199, 199, 0.3)
    ),
    url("../../assets/fruits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: $base-spacing * 4 0;

  form {
    display: flex;
    flex-wrap: wrap;

    .formBlock {
      display: flex;
      flex-direction: column;
      padding: $base-spacing * 4;
      width: 40%;
      min-width: 300px;
      background-color: white;
      border: $secondary-border;
      border-radius: $border-rounding;
      margin: $base-spacing * 4 auto;

      input,
      textarea {
        margin: $base-spacing * 2 0;
        padding: $base-spacing * 2 0;

        font-size: 1.2rem;

        vertical-align: top;
        font-size: 15px;
        // padding-left: $base-spacing;
        border: none;
        border-bottom: $primary-border;
        color: $primary-color;

        &:focus {
          outline: none;
          border-color: $secondary-color;
          color: $secondary-color;
        }

        &::placeholder {
          color: $tertiary-text;
        }
      }

      .submitButton {
        height: 45px;
        width: 100px;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        background-color: $primary-color;
        color: white;
        margin: $base-spacing * 4 auto;

        &:focus {
          outline: none;
        }

        &:enabled {
          &:hover {
            cursor: pointer;
            background-color: $secondary-color;
            color: white;
          }
        }

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
