@import "../../variables.scss";

.recipeCard {
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 600px;
  position: relative;
  z-index: 0;

  &.faceDown {
    transform: rotateY(180deg);
  }

  .front {
    @extend %card;
  }

  .back {
    @extend %card;
    transform: rotateY(180deg);
  }
}
