@import "./variables.scss";

.nav {
  max-width: 100vw;
}

.content {
  max-width: 100vw;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-gap: $base-spacing * 4;
  justify-content: space-between;
  min-height: 100%;
  padding: $base-spacing * 4;

  .card {
    height: 400px;
    width: 275px;
  }
}
